/* Wyjustowanie tekstu w postach */
article, .post-content, p {
  text-align: justify;
}

/* Wyjustowanie tekstu w listingu / blokach kodu */
pre, code {
  text-align: justify;
}

/* Wycentrowanie obrazów */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Wycentrowanie tabel */
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse; /* opcjonalne, ale estetyczne */
}

/* Wycentrowanie innych obiektów (np. grafiki, wykresy) */
figure, iframe, embed, object {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
