/* Wyjustowanie tekstu w postach */
article, .post-content, p {
  text-align: justify;
}

/* Wyjustowanie tekstu w listingu / blokach kodu */
pre, code {
  text-align: justify;
}

/* Wycentrowanie obrazów */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto; 
}

/* Wycentrowanie tabel */
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse; /* opcjonalne, ale estetyczne */
}

/* Wycentrowanie innych obiektów (np. grafiki, wykresy) */
figure, iframe, embed, object {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto; 
}

/* komórki danych */
table.dataframe td {
  text-align: center;
  vertical-align: middle;
}

/* nagłówki kolumn */
table.dataframe th.col_heading {
  text-align: center;
  vertical-align: middle;
}

/* indeksy wierszy */
table.dataframe th.row_heading {
  text-align: left;
  vertical-align: middle;
}